<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'contact'} ) %>

<body>

    <div class="user-navbar">
        <div class="user-navbar__cart-icon-container">
        <i class="fa-solid fa-cart-shopping"></i>
        <a href="/order">
        <div class="user-navbar__cart-badge" id="cart-count" >0</div>
        </a>
        </div>
        
        <div class="user-navbar__user-avatar-container">
        <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/100px-Default_pfp.svg.png " class="user-navbar__user-avatar " alt="Imagen de usuario">
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/badge.js"></script>
</body>
</html>