<header class="header">
    <nav class="navbar">
            <a href="/index.html" class="navbar__nav-link" target="_blank">
            <img class="navbar__logo" src="/assets/image/logo-holy-surf.png" alt="Logo del ecommerce" width= 50px>
            </a>
            <!-- =========================USER_NAVBAR====================================================== -->
            <div class="user-navbar">
            <div class="user-navbar__cart-icon-container">
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/order">
            <div class="user-navbar__cart-badge" id="cart-count" >0</div>
            </a>
            </div>
            
            <div class="user-navbar__user-avatar-container">
            <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/100px-Default_pfp.svg.png " class="user-navbar__user-avatar " alt="Imagen de usuario">
            </div>
            </div>
            <!-- ========================btn desplegable========================================== -->
            <input type="checkbox" class="navbar__menu-btn" id="menu-btn" >
            <label for="menu-btn" class="navbar__menu-label">
            <span class="navbar__menu-icon"></span>
            </label>
        <ul class="navbar__nav-links-container" id="navbar-list">
            <li class="navbar__nav-item">
            <a href="/" class="navbar__nav-link" target="_blank">Inicio</a>
            </li>
            <li class="navbar__nav-item">
            <a href="/contact" class="navbar__nav-link">Contacto</a>
            </li>
            <li class="navbar__nav-item">
            <a href="/about-us" class="navbar__nav-link">Nosotros</a>
            </li>
            <li class="navbar__nav-item">
            <a href="/register" class="navbar__nav-link">Registrarse</a>
            </li>
            <li class="navbar__nav-item" id="sign-in">
            <a href="/login" class="navbar__nav-link">Login</a>
            </li>
        </ul>
    </nav>
    
</header>