<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'about-us'} ) %>

<body>
    
<%- include('partials/header') %>


    <main class="main-about">
    <h1 class="about-tittle">Acerca de Nosotros</h1>
    <div class="about-container">
    <div class="about-container__text-about" > 
    <p class="about-container__text">-Holy surf tuvo su apertura a principios del año 2023, contamos con un increible equipo de profesionales todos amantes de esta disciplina, es un shop multimarca cálido para visitar y tomarse un break en un dia agitado y para recordar el amor por el surf y el mar. Esperamos poder acompañarte en tu camino al mar. 
    </p>
    </div>
    <div class="about-container__vision">
    <h2 class="about-container__subtittle">Nuestra Visión </h2>
    <p class="about-container__text">-Hacer diferencia en la comunidad mediante el deporte y fomentar el cuidado del medio ambiente.</p>
    </div>
    <div class="about-container__mission">
    <h2 class="about-container__subtittle">Nuestra Misión</h2>
    <p class="about-container__text">-Inspirar al público de espiritu joven a traves de la cultura progresiva del surf, respaldar y acompañar en el crecimiento a muchos de los mejores atletas del mundo.</p>
    </div>
    </div>
    </main>

<%- include('partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="/js/alert.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/badge.js"></script>
    </body>
    </html>
