<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Admin Product'} ) %>

<body>
<!-- ========================================================header================================== -->
<%- include('partials/header') %>
    
<!-- ===================================================main==================================== -->
<main class="main">
    <h1 class="titlle-product">ADMINISTRADOR DE ORDENES</h1>
<div class="container1">
    <h3>editando order</h3>
    
<form id ='editOrder'>
</form>

<div class="table-container">
<table class="table-product" border="2px" >
<thead class="table-product__thead">
    <tr class ="table-product__tr">
    <th class="table-product__th">PRODUCTOS</th>
    <th class="table-product__th">USUARIO</th>
    <th class="table-product__th">TOTAL</th>
    <th class="table-product__th">ESTADO</th>
    <th class="table-product__th">ACCIONES</th>
    </tr>
</thead>
<tbody id="table-body" class="table-product__tbody">
    

</tbody>
</table>
</div>
</div>
</main>
<!-- ==================================================================================================== -->
<%- include('partials/footer') %>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/alert.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/admin-order.js"></script>


</body>
</html>