<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'contact'} ) %>

<body class="body-detail">
    <h1>Detalle de productos</h1>

    <div class="cards-container" id="card-container">
        
        </div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/order.js"></script>
<script src="/js/product-detail.js"></script> 
</body>
</html>